@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&family=Xanh+Mono&display=swap');
*{
    box-sizing: border-box;
}
html{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
font-family: 'Xanh Mono', monospace;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
font-family: 'Xanh Mono', monospace;
}
header{
    position: sticky;
    top: 0;
    height: 60px;
    background-color: rgb(27, 26, 24);
}
header button{
background-color: orange;
border: 2px solid rgb(221, 103, 73);
border-radius: 30%;
}
header img{
    
    width: 40px;
    margin: 12px;
}
.nav__container{
    float: right;
}
.nav__container ul{
margin: 0;
}
.nav__container ul li{
    display: inline-block;
}
.nav__container ul a{
    font-family: 'Roboto', sans-serif;
color: blanchedalmond;
text-decoration: none;
padding: 10px;
position: relative;
top: 22px;
right: 30px;
}
.nav__container ul li:hover{

}
.nav__container ul a:hover{
    color: white;
    background-color: rgb(87, 86, 86);
    transition: .5s ease-in ;
}
.active{
    border-bottom: 1px solid whitesmoke;
}
/* Image landing page*/
#container__bg{
background-color: yellow;
background: url('/../img/cat_eye.svg') no-repeat center center fixed;
background-size: cover;
background-attachment: fixed;
max-width: 100vw;
height: 100vh;

}
.container__wrapper{
    color: white;
    font-weight: 700;
   margin: 0 auto;
   width: 100%;
   text-align: center; 
   position: relative;
   top: 20%;
   background-color: rgba(255, 255, 255, .1);
   padding: 3rem 0;
}
.container__wrapper p1{
    font-family: 'Xanh Mono', monospace;
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 5px #666666;
}
.container__wrapper a{
   color: white;
   text-decoration: none;
   cursor: pointer;
   padding: 8px 16px;
}
    
#test{
    color:black;

    font-weight: 700;
   margin: 0 auto;
   width: 100%;
   text-align: center; 
   position: relative;
   bottom: 20%;
   background-color: rgba(255, 255, 255, .1);
   padding: 3rem 0;
}
footer{
    font-family: 'Roboto', sans-serif;
    height: 60px;
    background-color: rgb(27, 26, 24);
    color: blanchedalmond;
    text-align: center;
}
/* Modal*/
/*modal modal modal modal modal*/
.modal{
    display:none;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    opacity: .2;
    transition: opacity 4s ease-in;
}
    .modal_content{
        padding: 1rem;
        position: relative;
        height: 50%;
        width: 50%;
        left: 25%;
        top: 20%;
        background-color: wheat;
}
.modal__wrap{
    background: orange;
    max-height: 20%;
    text-align: center;
    padding: .2rem;

}
.modal__wrap i{
    position: absolute;
    right: 0;
    cursor: pointer;
    font-size: 1.5rem;
    color: red;
    text-shadow: 1px 1px black;
    text-align: justify;
    padding: .5rem;    
    text-align: right;
}
.modal_content p{text-align: justify;
text-overflow: ellipsis;
}
.modal__img{
    display: block;
    max-width: 100%;
    max-height: 30%;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 2px  white;
    border: 1px solid red;
    margin-top: 1rem;
}
.modal__btn{
    
    margin: .5rem;
}
.modal__buttons{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(10,120,120,.8);
    width: 100%;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}.red{
    background-color: red;
}

.hidden{
    display: none;
}
.visible{
    display: inherit;
    opacity: 1;
    
}
/* media media media media media */
@media screen and (max-width: 500px) {
 
    .modal__wrap{box-sizing: border-box;}
    .modal_content{
        font-size: .8rem;
        box-sizing: border-box;
        position: absolute;
        width:  100vw;
        left: 0px;
        margin: 0;    
    }
    
    }